@import url("https://use.typekit.net/dcv1nmv.css");

* {
    font-family: "forma-djr-micro", sans-serif;
    margin: 0;
    padding: 0;
    --header: 4rem;
    --footer: 60px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
    --box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    --box-shadow-small: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

:root.light {
    --bg-color: #FFFFFF;
    --text-color: #1e1e1e;
    --primary-color: #AE3DAC;
    --secondary-color: #CA3BAD;
    --third-color: #743DA3;
    --svg-bg: url('bg-purple.svg');
}

:root.dark {
    --bg-color: #29252f;
    --text-color: #FFFFFF;
    --primary-color: #074446;
    --secondary-color: #003A46;
    --third-color: #00243D;
    --svg-bg: url('bg-green.svg');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    overflow: hidden;
    margin: 0;
    background: var(--bg-color);
}

.svg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    transform: scale(1.1);
    transition: 0.33s;
    background: var(--svg-bg) center/cover no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
    height: var(--header);
}

header>div:first-child,
header>div:last-child {
    width: 58px;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.header-right * {
    display: flex;
}

.header-right *:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.github-link {
    text-decoration: none;
    color: #1e1e1e;
}

.github-link:hover {
    text-decoration: underline;
}

.tippy-tooltip {
    padding: 1em;
    font-size: 0.85em;
    max-width: 250px !important;
    box-shadow: var(--box-shadow-small) !important;
}

main {
    height: var(--main);
    display: flex;
    align-items: center;
}

form {
    padding: 6rem;
    border-radius: 8px;
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
}

fieldset {
    padding: 2rem;
    border: none;
    border-radius: 8px;
}

fieldset * {
    opacity: 0;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    margin: 18px;
}

.credits a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--text-color);
}

.credits a:hover {
    color: var(--primary-color);
}

.credits i {
    color: var(--secondary-color);
    transition: 0.33s;
    font-size: 16px;
}

.credits i:hover {
    transform: rotateY(3.142rad);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1e1e;
        color: whitesmoke;
    }
  } */