* {
    font-family: "forma-djr-micro", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    --transform: transform 0.33s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --header: 4rem;
    --footer: 60px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
    --box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    --box-shadow-small: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --white-color: #FCFBF4;
    --black-color: #43454e;
}

:root.light {
    --bg-color: linear-gradient(to bottom, #FCFBF4 70%, var(--third-color) 70%);
    --text-color: #43454e;
    --primary-color: #E53AAC;
    --secondary-color: #C642BB;
    --third-color: #8B50C9;
    --border-bottom-style: 1px solid rgba(67, 69, 78, 0.4);
    --svg-bg: url('assets/bg-purple.svg');
    --tooltip-color: #FCFBF4;
}

:root.dark {
    --bg-color: #0b1517;
    --text-color: #FCFBF4;
    --primary-color: #084445;
    --secondary-color: #003A46;
    --third-color: #00243D;
    --border-bottom-style: 1px solid rgba(252, 251, 244, 0.5);
    --svg-bg: url('assets/bg-green.svg');
    --tooltip-color: #0b1517;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    overflow: hidden;
    margin: 0;
    background: var(--bg-color);
}

.svg-overlay {
    position: absolute;
    bottom:0;  
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    opacity: 1;
    transform: scale(1.1);
    transition: 0.33s;
    background: var(--svg-bg) center/cover no-repeat;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
    height: var(--header);
}

.logo {
    width: 48px;
    height: 48px;
    margin-left: 18px;
    transition: var(--transform);
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

header>div:first-child,
header>div:last-child {
    width: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: var(--text-color);
}

.header-right {
    gap: 8px;
    margin-right:4px;
}

.header-right * {
    display: flex;
    transition: color 0.1s;
}

.header-right *:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.github-link {
    text-decoration: none;
    color: var(--primary-color);
}

.github-link:hover {
    text-decoration: underline;
}

.tippy-tooltip {
    padding: 1em;
    font-size: 0.85em;
    max-width: 250px !important;
    box-shadow: var(--box-shadow-small) !important;
    background: var(--tooltip-color) !important;
    color: var(--text-color) !important;
}

.tippy-roundarrow {
    fill: var(--tooltip-color) !important;
}

main {
    height: var(--main);
    display: flex;
    align-items: center;
}

form {
    padding: 3rem;
    border-radius: 8px;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    box-shadow: var(--box-shadow);
}

fieldset {
    border: none;
    border-radius: 8px;
    text-align: left;
}

legend {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: var(--text-color);
    opacity: 0.98;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    margin-top: 0.3em;
    margin-inline: auto;
    max-width: 40rem;
    height: 40px;
  }

ul > div {
    display: flex;
    gap: 2rem;
}

div > label {
    position: absolute;
    top: 8px;
    left: 0;
    color: var(--text-color);
    pointer-events: none;
    transform-origin: left center;
    transition: transform 0.25s;
    opacity: 0.99;
    font-size: 0.9em;
    font-weight: 400;
}

div > input, .input {
    font-size: 1em;
    min-width: 240px;
    width: 100%;
    padding: 8px 0;
    padding-right: 10px;
    color: var(--text-color);
    border: none;
    border-bottom: var(--border-bottom-style);
    border-radius: 0px;
    outline: none !important;
    border-bottom-color:var(--text-color);
    transition: border-color 250ms;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} 

::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
  
  .input::placeholder {
    color: transparent;
  }

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-105%) scale(0.75);
  opacity: 0.85;
}

.clear {
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    position: absolute;
    top: 50%;
    right: 2px;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    color: var(--text-color);
    opacity: 0.5;
    transition: color 250ms;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.1s;
}

.clear:hover,
.clear:focus {
  opacity: 0.65;
}

div > .input:placeholder-shown + .label + .clear {
    display: none;
  }

.error {
    border-bottom-color: red;
    border-bottom-width: 2px;
}

.iconoir-warning-hexagon {
    font-size: 1.2em;
}

.helper-text{
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 0.75em;
    font-weight: 400;
    margin-top: 0.35em;
    color: var(--text-color);
}

button[type="submit"] {
    border: solid 1px var(--text-color);
    border-radius: 4px;
    padding: 0.75em 1.5em;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 400;
    transition: var(--transform);
}

.sign-in {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    float: right;
}

.sign-in > p {
    font-size: 0.6em;
    margin-top:0.5rem;
    a {
        text-decoration: none;
        color:var(--text-color);
    }
}

.sign-in > p > a > .sign-in-btn {
    border: solid 0.5px var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    border-radius: 4px;
    padding: 0.175em 0.75em;
    font-size: 0.9em;
    font-weight: 400;
    transition: transform 0.33s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-left: 2px;
}

.sign-in > p > a > .sign-in-btn:hover, button[type="submit"]:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-small);
    transform: scale(1.05);
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
    width: 100%;
}

footer>div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 200px;
    margin: 18px;
}

.credits a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    color: var(--text-color);
}

.credits a:hover {
    color: var(--primary-color);
}

.credits i {
    color: var(--primary-color);
    transition: 0.33s;
    font-size: 16px;
}

.credits i:hover {
    transform: rotateY(3.142rad);
    color: var(--text-color);
    transition: color 0.1s;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        background-color: #1e1e1e;
        color: whitesmoke;
    }
  } */

@media screen and (max-width: 600px) {

    body {
        overflow: scroll;
    }

    main {
        height: auto;
    }

    .svg-overlay {
        position: fixed;
        transform: scale(1);
    }

    form {
        padding: 3rem 2.5rem;
        margin: 20px 0;
    }

    ul {
        gap: 2rem;
        height: max-content;
    }

    ul > div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    div > input, .input {
        min-width: 264px;
    }

    .sign-in {
        width: 100%;
    }

    button[type="submit"] {
        font-size: 1em;
        font-weight: 500;
    }

    .sign-in > p {
        align-self: center;
    }
}